/* HEADER */
header .hamburger {
  position: fixed;
  background: var(--black);
  border: 2px solid var(--white);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  top: 20px;
  right: 20px;
  z-index: 10;
  overflow: hidden;
}

header .hamburger input {
  position: absolute;
  border: none;
  cursor: pointer;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  top: -2px;
  left: -2px;
  padding: 0;
  margin: 0;
  opacity: 0;
  z-index: 10;
}

header .hamburger span {
  position: absolute;
  background: var(--white);
  border-radius: 10px;
  width: 40px;
  height: 4px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

header .hamburger span::before,
header .hamburger span::after {
  content: '';
  position: absolute;
  background: var(--white);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

header .hamburger span::before {
  top: -10px;
}

header .hamburger span::after {
  top: 10px;
}

header .hamburger nav {
  position: fixed;
  background: var(--black);
  border-left: 1px solid var(--white);
  width: 400px;
  height: 100vh;
  top: 0;
  right: -100%;
  text-align: center;
  padding: 120px 0 0;
  margin: 0;
  z-index: -1;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

header .hamburger nav .icon {
  position: absolute;
  display: flex;
  align-items: center;
  top: 30px;
  left: 30px;
}

header .hamburger nav .icon div {
  background: url('../img/avatar.JPG') center/cover no-repeat;
  border: 2px solid var(--white);
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

header .hamburger nav .icon p {
  color: var(--primary-color);
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 15px;
}

header .hamburger nav .directory {
  padding-top: 20px;
}

header .hamburger nav .directory a {
  color: var(--white);
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 20px;
}

header .hamburger nav .themes p {
  color: var(--white);
  width: 100%;
}

header .hamburger nav .themes a {
  border: 2px solid var(--white);
  border-radius: 50%;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 0 8px;
}

header .hamburger nav .themes a.red {
  background: #ff4d4d;
}

header .hamburger nav .themes a.orange {
  background: #ffa812;
}

header .hamburger nav .themes a.yellow {
  background: #fbdf70;
}

header .hamburger nav .themes a.green {
  background: #3ca956;
}

header .hamburger nav .themes a.blue {
  background: #00bfff;
}

header .hamburger nav .themes a.pink {
  background: #e75480;
}

header .hamburger nav .themes a.purple {
  background: #9370db;
}

header .hamburger nav .copyright {
  position: absolute;
  color: var(--white);
  width: 100%;
  font-size: 8px;
  text-align: center;
  bottom: 0;
  left: 0;
}

header .hamburger nav .copyright a {
  color: var(--white);
}

header .hamburger input:checked~span {
  background: var(--black);
}

header .hamburger input:checked~span::before {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

header .hamburger input:checked~span::after {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

header .hamburger input:checked~nav {
  right: 0;
}

/* LOADING */
#loading {
  position: fixed;
  background: var(--white);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#loading .ellipsis {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#loading .ellipsis div {
  border-radius: 50%;
  position: absolute;
  width: 11px;
  height: 11px;
  top: 27px;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

#loading .ellipsis div.ellipsis-01 {
  animation: lds-ellipsis1 0.6s infinite;
  background: #ff4d4d;
  left: 6px;
}

#loading .ellipsis div.ellipsis-02 {
  animation: lds-ellipsis2 0.6s infinite;
  background: #e75480;
  left: 6px;
}

#loading .ellipsis div.ellipsis-03 {
  animation: lds-ellipsis2 0.6s infinite;
  background: #00bfff;
  left: 26px;
}

#loading .ellipsis div.ellipsis-04 {
  animation: lds-ellipsis3 0.6s infinite;
  background: #fbdf70;
  left: 45px;
}

#loading.loaded {
  opacity: 0;
  pointer-events: none;
}

/* FIRST VIEW */
#first-view {
  background: var(--primary-color);
  position: relative;
}

#first-view::before {
  content: '';
  position: absolute;
  border-top: 100vh solid var(--white);
  border-left: 100vw solid transparent;
  top: 0;
  right: 0;
}


#first-view::after {
  content: '';
  position: absolute;
  background: var(--black);
  width: 100%;
  height: 60%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

#first-view .avatar,
#first-view .information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  position: relative;
  z-index: 1;
}

#first-view .avatar::before {
  content: '';
  position: absolute;
  background: url('../img/avatar.JPG') center/cover no-repeat;
  border: 15px solid var(--white);
  width: 80%;
  height: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#first-view .information .name {
  color: var(--primary-color);
  font-family: var(--robo);
  font-size: 80px;
  text-transform: uppercase;
}

#first-view .information .position {
  color: var(--white);
  font-size: 24px;
}

#first-view .information a {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 40px;
  font-family: var(--mon);
  font-weight: bold;
  margin-top: 20px;
  position: relative;
}

#first-view .information a::before {
  content: '';
  position: absolute;
  background: var(--primary-color);
  width: 0;
  height: 100%;
  top: 0;
  left: 50%;
  z-index: -1;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* INTRODUCE */
#introduce {
  align-items: center;
}

#introduce .profile {
  width: 50%;
}

#introduce .profile .bnr {
  background: var(--primary-color);
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 10vw;
}

#introduce .profile .txt {
  color: var(--primary-color);
  font-family: var(--noto);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10vw;
  text-align: justify;
}

#introduce .profile .btn {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 40px;
  font-family: var(--mon);
  font-weight: bold;
  margin-top: 20px;
  margin-left: 10vw;
  position: relative;
}

#introduce .profile .btn::before {
  content: '';
  position: absolute;
  background: var(--primary-color);
  width: 0;
  height: 100%;
  top: 0;
  left: 50%;
  z-index: -1;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#introduce .picture {
  width: 30%;
  margin: 0 auto;
  position: relative;
}

#introduce .picture img {
  border: 10px solid var(--white);
}

#introduce .picture::before,
#introduce .picture::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#introduce .picture::before {
  border: 10px solid var(--black);
  top: -30px;
  left: -30px;
}

#introduce .picture::after {
  border: 10px solid var(--primary-color);
  bottom: -30px;
  right: -30px;
}

/* MY PROJECTS & TESTIMONIALS */
#my-projects,
#testimonials {
  flex-direction: column;
}

#my-projects h2,
#testimonials h2 {
  font-family: var(--mon);
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
}

#my-projects h3,
#testimonials h3 {
  font-size: 28px;
}

#my-projects ul,
#testimonials ul {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 75px;
}

#my-projects ul li,
#testimonials ul li {
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 24%;
  height: 60%;
  padding: 75px 20px 0;
  position: relative;
}

#my-projects ul li .circle,
#testimonials ul li .circle {
  position: absolute;
  /* border: 2px solid var(--black); */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#my-projects {
  background: var(--black);
}

#my-projects h2 {
  background: var(--primary-color);
  color: var(--white);
}

#my-projects ul li {
  background: none;
  min-height: 475px;
  -webkit-perspective: 150rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
}

#my-projects ul li .card {
  background: var(--white);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 75px 20px 0;
  overflow: hidden;
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -ms-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

#my-projects ul li .card-back {
  background: var(--primary-color);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#my-projects ul li .card-back img {
  width: 100%;
}

#my-projects ul li .card-back a {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(50% - 5px);
  height: 40px;
  font-weight: bold;
  position: relative;
  z-index: 10;
}

#my-projects ul li .card-back a::before,
#my-projects ul li .card-back a::after {
  content: '';
  position: absolute;
  background: var(--black);
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  z-index: -2;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#my-projects ul li .card-back a::before {
  background: var(--primary-color);
  width: 0;
  z-index: -1;
}

#my-projects ul li .circle {
  background: var(--primary-color);
  border: 5px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

#my-projects ul li .circle svg {
  fill: var(--white);
  width: 40%;
}

#testimonials {
  background: var(--primary-color);
}

#testimonials h2 {
  background: var(--white);
  color: var(--primary-color);
}

#testimonials ul li .circle-01 {
  background: url('../img/luffy.jpg') center/cover no-repeat;
}

#testimonials ul li .circle-02 {
  background: url('../img/kid.jpg') center/cover no-repeat;
}

#testimonials ul li .circle-03 {
  background: url('../img/law.jpg') center/cover no-repeat;
}

/* CONTACT ME */
#contact-me {
  background: url('../img/city.jpeg') center/cover no-repeat;
  align-items: center;
  position: relative;
}

#contact-me::before {
  content: '';
  position: absolute;
  background: var(--black);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.6;
}

#contact-me .contact {
  width: 45%;
  padding-left: 15vw;
  position: relative;
}

#contact-me .contact-group:not(:last-child) {
  padding-bottom: 40px;
}

#contact-me .contact-group h3 {
  color: var(--primary-color);
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 15px;
}

#contact-me .contact-group p,
#contact-me .contact-group a {
  color: var(--white);
  font-size: 16px;
  padding: 0;
  margin: 0;
}

#contact-me .bnr {
  background: var(--primary-color);
  width: 50%;
  font-family: var(--mon);
  font-size: 52px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-left: auto;
  position: relative;
}

/* FOOTER */
footer {
  background: var(--black);
  padding: 60px 15px;
  text-align: center;
}

footer .scroll {
  padding-bottom: 50px;
}

footer .scroll a {
  display: inline-block;
  border-top: 3px solid var(--white);
  border-left: 3px solid var(--white);
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

footer .social a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 24px;
  position: relative;
}

footer .social a::before {
  content: '';
  position: absolute;
  background: var(--primary-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -moz-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  -o-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

footer .social a svg {
  fill: var(--white);
  height: 30px;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

footer .copyright {
  color: var(--white);
  font-family: var(--mon);
  font-size: 13px;
  padding-top: 20px;
  margin-top: 40px;
  position: relative;
}

footer .copyright::before {
  content: '';
  position: absolute;
  background: var(--white);
  width: 30%;
  height: 1px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

footer .copyright a {
  color: var(--white);
}

@media only screen and (min-width: 1025px) {
  header .hamburger nav .directory a:hover {
    color: var(--primary-color);
  }

  header .hamburger nav .copyright a:hover {
    color: var(--primary-color);
  }
  
  header .hamburger:hover span {
    background: var(--black);
  }
  
  header .hamburger:hover span::before,
  header .hamburger:hover span::after {
    top: 0;
  }

  #first-view .information a:hover {
    color: var(--black);
  }
  
  #first-view .information a:hover::before {
    width: 100%;
  }

  #introduce .profile .btn:hover {
    color: var(--black);
  }
  
  #introduce .profile .btn:hover::before {
    width: 100%;
  }

  #my-projects ul li .card-back a:hover {
    color: var(--black);
  }
  
  #my-projects ul li .card-back a:hover::before {
    width: calc(100% + 2px);
  }

  #my-projects ul li:hover .card-front {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  
  #my-projects ul li:hover .card-back {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
  }

  footer .scroll a:hover {
    -webkit-transform: translateY(-5px) rotate(45deg);
    -moz-transform: translateY(-5px) rotate(45deg);
    -ms-transform: translateY(-5px) rotate(45deg);
    -o-transform: translateY(-5px) rotate(45deg);
    transform: translateY(-5px) rotate(45deg);
  }

  footer .social a:hover::before {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
  
  footer .social a:hover svg {
    fill: var(--black);
  }

  footer .copyright a:hover {
    color: var(--primary-color);
  }
}

@media only screen and (max-width: 1025px) {
  header .hamburger nav {
    width: 350px;
  }

  #first-view::after {
    height: 40%;
  }

  #first-view .avatar::before {
    width: 90%;
    height: 56%;
  }

  #first-view .information .name {
    font-size: 54px;
  }

  #first-view .information .position {
    font-size: 18px;
  }

  #first-view .information a {
    width: 100px;
    height: 30px;
    font-size: 13px;
  }

  #introduce .profile .bnr {
    padding-left: 4vw;
  }

  #introduce .profile .txt {
    font-size: 13px;
    padding-left: 4vw;
  }

  #introduce .profile .btn {
    margin-left: 4vw;
  }

  #my-projects h2,
  #testimonials h2 {
    font-size: 40px;
  }

  #my-projects ul li .circle,
  #testimonials ul li .circle {
    width: 120px;
    height: 120px;
  }

  #my-projects ul li,
  #testimonials ul li {
    width: 30%;
  }

  #my-projects h3,
  #testimonials h3 {
    font-size: 24px;
  }

  #my-projects p,
  #testimonials p {
    font-size: 13px;
  }

  #contact-me .contact {
    padding-left: 8vw;
  }

  #contact-me .bnr {
    font-size: 40px;
  }

  #contact-me .contact-group h3 {
    font-size: 24px;
  }

  #contact-me .contact-group p,
  #contact-me .contact-group a {
    font-size: 13px;
    padding-bottom: 8px;
  }
}

@media only screen and (max-width: 767px) {
  header .hamburger {
    width: 60px;
    height: 60px;
    top: 10px;
    right: 10px;
  }

  header .hamburger span {
    width: 28px;
    height: 2px;
  }

  header .hamburger span::before {
    top: -6px;
  }

  header .hamburger span::after {
    top: 6px;
  }

  header .hamburger nav {
    border-left: none;
    width: 100%;
    height: 100%;
  }

  header .hamburger nav .icon {
    top: 10px;
    left: 10px;
  }

  header .hamburger nav .themes a {
    margin: 0 6px;
  }

  #first-view {
    height: 85vh;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 80px;
  }

  #first-view::after {
    height: 50%;
    top: auto;
    bottom: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  #first-view .avatar,
  #first-view .information {
    width: 100%;
  }

  #first-view .avatar {
    height: 320px;
  }

  #first-view .information {
    padding: 0 15px;
  }

  #first-view .information .name {
    font-size: 44px;
  }

  #first-view .information .position {
    font-size: 15px;
  }

  #first-view .avatar::before {
    border-width: 10px;
    height: 100%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  #introduce {
    height: auto;
    flex-wrap: wrap;
    padding: 40px 0;
  }

  #introduce .profile {
    order: 2;
    width: 100%;
    padding-top: 40px;
  }

  #introduce .profile .bnr {
    width: 80%;
    font-size: 30px;
    padding-left: 15px;
  }

  #introduce .profile .txt {
    padding: 15px;
  }

  #introduce .profile .btn {
    margin: 0 auto;
  }

  #introduce .picture {
    order: 1;
    width: 80%;
  }

  #introduce .picture::before {
    border-width: 5px;
    top: -15px;
    left: -15px;
  }

  #introduce .picture::after {
    border-width: 5px;
    bottom: -15px;
    right: -15px;
  }

  #introduce .picture img {
    border-width: 5px;
  }

  #my-projects,
  #testimonials {
    height: auto;
  }

  #my-projects h2,
  #testimonials h2 {
    font-size: 32px;
  }

  #my-projects ul,
  #testimonials ul {
    flex-wrap: wrap;
    padding: 100px 15px 50px;
  }

  #my-projects ul li,
  #testimonials ul li {
    background: var(--white);
    width: 100%;
    height: auto;
    min-height: auto;
    padding: 75px 20px 50px;
  }

  #my-projects ul li:not(:last-child),
  #testimonials ul li:not(:last-child) {
    margin-bottom: 100px;
  }

  #my-projects ul li .card {
    position: relative;
    padding: 0;
  }

  #my-projects ul li .card-back {
    background: var(--white);
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
  }

  #my-projects ul li .card-back img {
    padding: 20px 0;
  }

  #contact-me {
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 75px 0;
  }

  #contact-me .contact {
    order: 2;
    width: 100%;
  }

  #contact-me .bnr {
    order: 1;
    width: 80%;
    font-size: 32px;
  }

  footer .social a {
    margin: 0 18px;
  }
}

@media only screen and (max-width: 374px) {
  #first-view .information .name {
    font-size: 38px;
  }

  #first-view .information .position {
    font-size: 12px;
  }

  #first-view .information a {
    width: 90px;
    height: 28px;
    font-size: 11px;
  }

  #contact-me .bnr {
    font-size: 28px;
  }
}